<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Singleton Dating</title>
  </head>
  <body>
    <h1>Welcome to Singleton Dating</h1>
    <form action="/signin" method="post">
      <label for="username">Username:</label>
      <input type="text" name="sign_in_username" value="username">
      <label for="password">Password:</label>
      <input type="password" name="sign_in_password" value="password">
      <input type="submit" name="Sign In" value="Sign In">
    </form>

    <form action="/signup" method="post">
      <label for="username">Username:</label>
      <input type="text" name="sign_up_username" value="username">
      <label for="age">Age:</label>
      <input type="number" name="sign_up_age" value="age">
      <label for="password">Password:</label>
      <input type="password" name="sign_up_password" value="password">
      <input type="submit" name="Sign Up" value="Sign Up">
    </form>

  </body>
</html>
