<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Singleton</title>
  </head>
  <body>
    <form action="/signup" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" value="username">
      <label for="age">Age:</label>
      <input type="number" name="age" value="age">
      <label for="password">Password:</label>
      <input type="password" name="password" value="password">
      <input type="submit" name="Sign Up" value="Sign Up">
    </form>
  </body>
</html>
